.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box-container {
  display: flex;
}

.box {
  border-radius: 1rem;
  width: 20rem;
  padding: 3rem 0rem;
  margin: 1rem 0.5rem;
  background-color: papayawhip;
  text-align: center;
}

.box span {
  font-size: 8rem;
}

button {
  border: none;
  border-radius: 500px;
  background-color: greenyellow;
  font-size: 3rem;
  margin: 0.25rem;
  padding: 0.25rem;
  cursor: pointer;
}

.WIN{
  background-color: rgb(166, 197, 253);
}

.LOSE{
  background-color: rgb(255, 172, 189);
}

.TIE {
  background-color: rgb(209, 255, 197);
}

.hidden {
  display: none;
}